body {
    background-color: lightgray;
}
.container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    height:4rem;
    margin: 0;
    background-color: whitesmoke;
    color: rgb(22 34 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-height: 20rem;
    width: 75rem;
    overflow: hidden;
    border: 0;
    background: linear-gradient(to left, rgb(36, 59, 85), rgb(20, 30, 48));
    color: white;    
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;background-color: blue;
    border-radius: 1rem;
}

.content {
    padding: 1.3rem;
    /* padding-left: 1.3rem;
    padding-top: 1.3rem; */
    padding-bottom: 0; */
}

button {
    margin: 1rem;
}

@media (min-width: 768px) {
    .card{
        font-size: 1.5rem;
    }
    .content {
        min-height: 140px;
        padding-left: 2rem;
    }
    button {
        margin: 1.7rem;
    }
}